@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a { text-decoration: none; }

li, summary { list-style: none;}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    font-family: 'Poppins', sans-serif;
    background-color: var(--apple);
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

/* hazır kodlarım */

.active {
    color: rgba(0,0,0,1) !important;
}

:root {
    --red: #D32F2F;
    --orange: #F57C00;
    --apple: #F5F5F7;
    --laci: #1E3A5F;
    --green: #2E7D32;
    --grey: #616161;
}

.donate-link {
    color: var(--red) !important;
    font-weight: 600 !important;
}

.soon {
    height: 1000px;
    padding: 32px;
    text-align: center;
}

.full-page {
    width: 1400px;
    margin: 0 auto;
}

.top-links {
    background-color: var(--red);
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 32px;
    padding: 0 24px;
    > p {
        margin-right: auto;
        color: var(--apple);
        letter-spacing: 1px;
        font-size: 14px;
        line-height: 1;
    }
    > li {
        > a {
            padding: 16px 0;
            display: block;
            color: var(--apple);
            font-size: 20px !important;
            transition: all .2s;
        }
        > a:hover {
            transform: scale(1.5);
        }
    }
}

.header {
    padding: 32px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer {
    margin-top: 60px;
    padding: 32px;
    background-color: var(--red);
    display: flex;
    align-items: center;
    justify-content: space-between;
    > ul {
        display: flex;
        align-items: center;
        gap: 32px;
        > li {
            > a {
                color: var(--apple);
                font-weight: 400;
                letter-spacing: 1px;
                font-size: 14px;
            }
        }
        & a:hover {
            text-decoration: underline;
        }
    }
    & p {
        font-size: 14px;
        letter-spacing: 1px;
        color: var(--apple);
        > a {
            color: var(--apple);
            text-decoration: underline;
        }
    }
    > .top-links {
        padding: 0;
        & a {
            padding: 0;
        }
    }
}

.logo {
    display: flex;
    flex-direction: column;
    > h1 {
        line-height: 1;
        font-size: 24px;
        font-weight: 600;
    }
    > h2 {
        line-height: 1;
        font-size: 16px;
    }
}

.nav {
    display: flex;
    align-items: center;
    gap: 16px;
    & span {
        width: 1px;
        height: 30px;
        background-color: #000;
    }
    & a {
        color: rgba(0,0,0,0.3);
        font-size: 16px;
        letter-spacing: 0.5px;
        font-weight: 500;
        transition: all .3s;
    }
    & a:hover {
        color: rgba(0,0,0,1);
    }
}

.hero {
    position: relative;
}

.hero-content {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background-image: linear-gradient(to bottom, rgba(245, 245, 247), rgba(245, 245, 247, 0.8), rgba(245, 245, 247, 0.6));
    > h1 {
        font-size: 32px;
        font-weight: 600;
    }
    > h2 {
        font-weight: 600;
        letter-spacing: 1px;
    }
}

.home-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 60px;
    > h1 {
        font-size: 28px;
        font-weight: 600;
    }
    > h2 {
        font-size: 20px;
        font-weight: 600;
    }
    > p {
        font-size: 16px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        gap: 8px;
        & span {
            width: 5px;
            height: 5px;
            background-color: #000;
            display: block;
            border-radius: 50%;
        }
    }
}

.yonetim-kurulu {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    gap: 16px;
    > h1 {
        font-size: 28px;
        font-weight: 600;
    }
    & img {
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;
    & img {
        aspect-ratio: 1/1.2;
    }
}

.item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    > h1 {
        font-size: 20px;
        line-height: 1;
        font-weight: 600;
        letter-spacing: 1px;
    }
    > h2 {
        font-size: 14px;
        line-height: 1;
        font-weight: 400;
        letter-spacing: 0.5px;
    }
}

.donate-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 60px;
    & img {
        height: 100px;
        object-fit: cover;
    }
    & h1 {
        line-height: 1;
        font-size: 42px;
        font-weight: 600;
    }
    & h2 {
        line-height: 1;
        font-size: 20px;
        font-weight: 400;
    }
    & span {
        font-weight: 700;
        color: var(--red);
    }
}

.contact-page {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;

    & h1 {
        line-height: 1;
        font-size: 42px;
        font-weight: 600;
    }
    & h2 {
        line-height: 1;
        font-size: 20px;
        font-weight: 400;
        & a {
            color: #000;
            font-weight: 800;
        }
        & a:hover {
            text-decoration: underline;
        }
    }
    > a {
        line-height: 1;
        font-size: 20px;
        font-weight: 400;
        color: #000;
        text-decoration: underline;
    }
}

.media-page {
    margin-top: 60px;
    & h1 {
        line-height: 1;
        font-size: 42px;
        font-weight: 600;
        margin-bottom: 24px;
    }
    & h2 {
        line-height: 1;
        font-size: 20px;
        font-weight: 400;
        & a {
            color: #000;
            font-weight: 800;
        }
        & a:hover {
            text-decoration: underline;
        }
    }
    > a {
        line-height: 1;
        font-size: 20px;
        font-weight: 400;
        color: #000;
        text-decoration: underline;
    }
}

.coded-by {
    background-color: #000;
    border-top: 1px dashed var(--apple);
    padding: 12px 32px;
    & p {
        color: var(--apple);
        font-size: 12px;
        letter-spacing: 1.5px;
        & a {
            letter-spacing: 1.5px;
            text-decoration: underline;
            color: var(--apple);
        }
    }
}

.maps {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    & img {
        height: 500px;
        object-fit: cover;
    }
}

.photo-gallery-item {
    & img {
        aspect-ratio: 1/1.3;
        object-fit: cover;
    }
}